#
# https://releases.llvm.org/11.0.1/tools/clang/docs/ClangFormatStyleOptions.html
# (https://clang.llvm.org/docs/ClangFormatStyleOptions.html)
#

Language: Cpp
Standard: c++20

AccessModifierOffset:         -4
AlignAfterOpenBracket:        Align
AlignConsecutiveAssignments:  true
AlignConsecutiveBitFields:    true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros:       true
AlignEscapedNewlines:         Left
AlignOperands:                true
AlignTrailingComments:        true

AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine:  true
AllowShortLambdasOnASingleLine:             true
AlwaysBreakBeforeMultilineStrings:          false
AlwaysBreakTemplateDeclarations:            Yes

BinPackArguments:  true
BinPackParameters: true

BreakBeforeBraces:            Custom
BreakConstructorInitializers: AfterColon

BraceWrapping:
  AfterClass:            true
  AfterControlStatement: Always
  AfterEnum:             true
  AfterFunction:         true
  AfterNamespace:        true
  AfterStruct:           true
  AfterUnion:            true
  AfterExternBlock:      true
  BeforeCatch:           true
  BeforeElse:            true
  IndentBraces:          false
  SplitEmptyFunction:    true
  SplitEmptyRecord:      false
  SplitEmptyNamespace:   true

ColumnLimit:          0
CompactNamespaces:    false
Cpp11BracedListStyle: true

DeriveLineEnding: false
ContinuationIndentWidth: 2
FixNamespaceComments: true

IndentCaseLabels:   true
IndentExternBlock:  AfterExternBlock
IndentGotoLabels:   true
IndentPPDirectives: BeforeHash
IndentWidth:        4

KeepEmptyLinesAtTheStartOfBlocks: false

MaxEmptyLinesToKeep: 1

NamespaceIndentation: All

PointerAlignment: Left

#QualifierOrder: ['restrict', 'volatile', 'inline', 'static', 'const', 'constexpr', 'friend', 'type']

ReflowComments: true

SortIncludes:          true
SortUsingDeclarations: true

SpaceAfterCStyleCast:              false
#SpaceAfterLogicalNot:             false
SpaceAfterTemplateKeyword:         false
SpaceBeforeAssignmentOperators:    true
SpaceBeforeCpp11BracedList:        false
SpaceBeforeCtorInitializerColon:   true
SpaceBeforeInheritanceColon:       true
SpaceBeforeParens:                 Never
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets:         false
SpaceInEmptyBlock:                 false
SpaceInEmptyParentheses:           false
SpacesBeforeTrailingComments:      2
SpacesInAngles:                    false
SpacesInCStyleCastParentheses:     false
SpacesInConditionalStatement:      true
SpacesInContainerLiterals:         false
#SpacesInLineCommentPrefix:
# Minimum: 1
# Maximum: 4
SpacesInParentheses:               true
SpacesInSquareBrackets:            false

UseCRLF: false
UseTab: Never
