[submodule "antlr"]
	path = Libs/antlr
	url = https://github.com/antlr/antlr4.git
	branch = master

[submodule "cxxopts"]
	path = Libs/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
	branch = master
